.depoimento {
  display: flex;
  gap: 40px;
  margin-top: 140px;
  background-color: #ffb077;
}

.depoimento-img {
  width: 50%;
}

.depoimento-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.depoimento-conteudo {
  align-self: end;
  padding-bottom: 40px;
}

.depoimento-conteudo p {
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: #4d3320;
  font-size: 2rem;
  max-width: 36ch;
}

/* #bb835b; */

.depoimento-conteudo span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #66462e;
  padding-top: 10px;
}

@media (max-width: 1200px) {
  .depoimento-conteudo p {
    font-size: 1.5rem;
    max-width: 30ch;
  }
}

@media (max-width: 960px) {
  .depoimento-conteudo p {
    font-size: 1.2rem;
    max-width: 30ch;
  }
}

@media (max-width:800px) {
  .depoimento {
    display: grid;
    grid-template-columns: 1fr;
  }
  .depoimento-img {
    width: 100%;
  }
  .depoimento-conteudo {
    text-align: center;
    justify-self: center;
  }
  .depoimento-conteudo span {
    font-size: 1rem;
  }
}

@media (max-width:800px) {
  .depoimento-conteudo p {
    max-width: 40ch;
    padding: 0px 20px;
  }
  .depoimento-conteudo span {
    font-size: 1rem;
  }
}